apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: sensor-ingress
    annotations:
       nginx.ingress.kubernetes.io/proxy-body-size: 50m
spec:
    ingressClassName: public
    rules:
        - host: grafana.vestrong.eu
          http:
              paths:
                  - path: /
                    pathType: Prefix
                    backend:
                        service:
                            name: grafana
                            port:
                                number: 3000
                                                                                            